body {
    background-color: red}
#contanier{
    background-color: maroon;
    width: 950px;
    margin: 20px auto;
    border: 2px solid azure;
    padding: 20px; 
    border-radius: 20px;}
Nav{
    text-align: center;
    border-top: 4px solid azure;
    border-bottom: 4px solid azure;
   padding: 20px 0;
}
nav a{
    color:seagreen;
    font-size: 30px;
    margin: 0 20px;
}
nav a:hover{
    color:white;
    text-decoration: none;
}
main h1{
    color: azure;
    text-align: center;
}
main img{
    display: block;
    margin: 20px auto;
    width: 600px;
}
footer{
    padding: 40px 0;
    text-align: center;
     border-top: 4px solid azure;
}

h2 {color:white}
h3 {color:azure}